<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rj.pixelesque"
      android:versionCode="3"
      android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="13" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true"
    			android:theme="@style/Theme.Pixelesque">
        <activity android:name=".PixelArtEditor"
                  android:label="@string/app_name"
                  android:hardwareAccelerated="true"
                  android:configChanges="orientation"
                  android:theme="@style/Theme.Pixelesque">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArtListActivity"
                  android:configChanges="orientation" />
        <activity android:name="de.devmil.common.ui.color.ColorSelectorActivity"
                  android:configChanges="orientation"
                  android:theme="@style/myBackgroundStyle" />

    </application>
</manifest>